
.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.result-container {
  margin-top: 20px;
  text-align: center;
}

.result-heading {
  font-size: 20px;
  margin-bottom: 5px;
}

.result-text {
  font-size: 16px;
}


.most-probable-country {
  font-weight: bold;
}
